# requirements.txt - biblioteki potrzebne do uruchomienia aplikacji

# GUI i interfejs
pillow

# OCR i analiza obrazu
opencv-python
pytesseract

# Praca z danymi
pandas
matplotlib

# API (Shoper)
requests

# (opcjonalne) styl Sun Valley dla Tkintera
sv-ttk

# (opcjonalnie) klasyfikacja obrazu
scikit-learn
# Deep learning for card classifier
torch
torchvision
